In [19]:
import numpy as np

In [20]:
import pandas as pd

In [21]:
array = np.array([["mateo",1993,3000000,"empleado"],["laura",1995,2000000,"independiente"]])

In [22]:
print(df)

[['1' '2' '3' '4' '5' '6']
 ['mateo' 'laura' 'daniel' 'marta' 'david' 'yonatan']]

In [26]:
df = pd.DataFrame(array,columns = ['Name','Birth Year','Salary','employment_status'])

In [27]:
print(df)

    Name Birth Year   Salary employment_status
0  mateo       1993  3000000          empleado
1  laura       1995  2000000     independiente