In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
array = np.array([["mateo",1993,3000000,"empleado"],["laura",1995,2000000,"independiente"]])

In [5]:
print(array)

[['mateo' '1993' '3000000' 'empleado']
 ['laura' '1995' '2000000' 'independiente']]

In [6]:
df = pd.DataFrame(array,columns = ['Name','Birth Year','Salary','employment_status'])

In [7]:
print(df)

    Name Birth Year   Salary employment_status
0  mateo       1993  3000000          empleado
1  laura       1995  2000000     independiente

In [8]:
df["Salary"].describe()

count           2
unique          2
top       3000000
freq            1
Name: Salary, dtype: object

In [9]:
#this is an important change

In [10]:
names = df['Name']

In [11]:
print (names)

0    mateo
1    laura
Name: Name, dtype: object

In [12]:
emp_st= df['employment_status']
print (emp_st)

0         empleado
1    independiente
Name: employment_status, dtype: object

In [ ]:
#se da√±o otra vez se cago